img {
    height: 15em;
    width: 15em;
    border-radius: 50px;
}

body {
    background-color: rgb(24, 24, 24);
    position: absolute;
}

h1 {
    position: absolute;
    color: aqua;
    top: -25px;
    left: 690px;
    font-size: 55px;
}

#test_pad {
    position: absolute;
    left: 150px;
    top: 50px;
}

#Office {
    position: absolute;
    top: 50px;
    right: 150px;
}

#ip {
    position: absolute;
    top: 90px;
    right: 490px;
    width: 150px;
    height: 150px;
}

#polo {
    position: absolute;
    top: 70px;
    left: 200px;
    width: 1111px;
    height: 500px;
    background-color: rgba(49, 49, 49, 0.85);
    border-radius: 50px;
}

/* #labl1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(2, 76, 167);
    position: absolute;
    left: 210px;
    top: 300px;
    text-decoration-line: none;
    font-size: xx-large;
}
#labl2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: xx-large;
    color: rgb(2, 76, 167);
    position: absolute;
    right: 210px;
    top: 300px;
    text-decoration-line: none;
}

#labl1:hover{
    color: rgb(214, 0, 0);
}

#labl2:hover {
    color: rgb(214, 0, 0);
} */

/* dolwad */

/* #btn {
    box-shadow: 0px 0px 19px 10px #01dd8142;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: grid;
    width: 15rem;
    height: 4.5rem;
    background: none;
    border: 0.1rem solid #01dd81;
    border-radius: 4rem;
    padding: 0.3rem;
    transition: all 1s ease-in-out;
} */

/* #symbol {
    text-align: center;
    display: inline-block;
    border-radius: 100%;
    width: 3.7rem;
    font-size: 2.6rem;
    color: white;
    background: #01dd81;
    font-weight: bold;
    height: 3.7rem;
    transition: all 0.5s ease-in-out;
} */

/* #btn1 {
    box-shadow: 0px 0px 19px 10px #01dd8142;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: grid;
    width: 15rem;
    height: 4.5rem;
    background: none;
    border: 0.1rem solid #01dd81;
    border-radius: 4rem;
    padding: 0.3rem;
    transition: all 1s ease-in-out;
} */

/* #symbol1 {
    text-align: center;
    display: inline-block;
    border-radius: 100%;
    width: 3.7rem;
    font-size: 2.6rem;
    color: white;
    background: #01dd81;
    font-weight: bold;
    height: 3.7rem;
    transition: all 0.5s ease-in-out;
} */

 /* #text {
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 30px;
} */

/*#text1 {
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 50px;
} */

.main1 {
    position: absolute;
    left:930px;
    top: 370px;
}

.main {
    position: absolute;
    left: 150px;
    top: 300px;
}

.txt {
    color: rgb(30, 185, 167);
}

img#blak {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 790px;
    top: 9px;
}

.main2 {
    position: absolute;
    right: 440px;
    top: 300px;
}

/* #text2 {
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 45px;
} */

button{
    position: relative;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    font-weight: bold;
    border: 2px solid #3eff37;
    background: transparent;
    color: #ffff;
    cursor: pointer;
    overflow: hidden;
    border-radius: 25px;
}